body {
  background-color: black;
  padding: 2%;
}

#pelis {
  padding: 2%;
  margin: 5px;
  /* display: inline-flex; */
  float: left;
  position: relative;
  max-width: 1500px;
  height: 450px;
  border-radius: 10px;
}